<ion-view view-title="Home">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Welcome Home
      </div>
      <div class="item item-text-wrap">
        <div ng-switch="vm.isAuthenticated()">
          <div class="alert alert-success" ng-switch-when="true">
            You are logged in as user "{{vm.account.login}}".
          </div>

          <div class="alert alert-warning" ng-switch-when="false">
            If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
          </div>

          <div class="alert alert-warning" ng-switch-when="false">
            You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
          </div>
        </div>

        <img width="100%" src="main/assets/images/hipster2x.png">
      </div>
    </div>
  </ion-content>
</ion-view>
