<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" translate="login.title">Sign In</h1>
        <button class="button button-clear button-primary" ng-click="vm.hideModal()" translate="entity.action.cancel">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label" translate="global.form.username">Login</span>
                <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                       ng-model="vm.username">
            </label>

            <label class="item item-input">
                <span class="input-label" translate="login.form.password">Password</span>
                <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                       ng-model="vm.password">
            </label>
            <div class="item item-toggle">
                <span translate="login.form.rememberme">Remember me</span>
                <label class="toggle toggle-positive">
                    <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <button class="button button-full button-positive" ng-click="vm.login($event)" translate="login.form.button">Sign in</button>
        </div>

        <a class="alert-link" href="" ng-click="vm.requestResetPassword()" translate="login.password.forgot">Forgot Password?</a>
        <br />
        <a class="alert-link" href="" ng-click="vm.register()" translate="global.messages.info.register">Register a new account</a>
        <% if (enableSocialSignIn) { %>
        <!--<jh-social ng-provider="google"></jh-social>-->
        <!--<jh-social ng-provider="facebook"></jh-social>-->
        <!--<jh-social ng-provider="twitter"></jh-social>-->
        <% } %>
    </ion-content>
</ion-modal-view>
